body {
    font-family: 'Lato', sans-serif;
    font-size: larger;
    background-color: #fed049;
}

h1 {
    font-family: 'Chonburi', cursive;
    font-size: 3rem;
    font-weight: lighter;
}

h2 {
    font-family: 'Chonburi', cursive;
    font-size: 2.5rem;
}

button {
    margin-top: 4%;
}


/* <--------Title Section-------> */

#title {
    background-color: #fed049;
}

.heading {
    margin-top: 5%
}

.navbar {
    padding-bottom: 4rem;
}

.container-fluid {
    padding: 4% 14% 7%;
}

.image {
    width: 100%;
    /*margin: 3% 6%;*/
    transform: rotate(4deg);
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.nav-item {
    font-size: 1.2rem;
    padding: 0 18px;
    font-family: 'Montserrat', sans-serif;
}


/* <--------About Section-------> */

#about {
    background-color: #ffff;
    text-align: center;
    padding: 7% 17%;
}


/* <--------Donate Section-------> */

#donate {
    background-color: #fed049;
    text-align: center;
    padding: 7% 17%;
}

.payment {
    text-align: center;
    margin: 20%;
    font-family: 'Lato', sans-serif;
    font-size: larger;
}